In [1]:
import pandas as pd
df = pd.read_csv("animals_data.csv")

In [2]:
df.head()

  Animal  Color   Size Favorite Food
0    Cat  Black  Small          Fish
1    Dog  Brown    Big          Bone
2   Bird   Blue   Tiny         Seeds

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Animal         3 non-null      object
 1   Color          3 non-null      object
 2   Size           3 non-null      object
 3   Favorite Food  3 non-null      object
dtypes: object(4)
memory usage: 224.0+ bytes