# Our analysis for the provided dataset

Loading data

In [3]:
import pandas as pd

In [9]:
df = pd.read_csv("dataset.csv")

In [10]:
df

   CustomerID  TransactionID Product  Quantity  Price        Date
0           1            101   Apple         2   0.50  2022-01-01
1           2            102  Orange         1   0.75  2022-01-02
2           3            103  Banana         3   0.40  2022-01-03
3           4            104   Apple         2   0.50  2022-01-04
4           5            105   Grape         1   1.20  2022-01-05
5           6            106   Apple         4   0.50  2022-01-06
6           7            107  Orange         2   0.75  2022-01-07
7           8            108  Banana         3   0.40  2022-01-08
8           9            109   Grape         2   1.20  2022-01-09
9          10            110   Apple         1   0.50  2022-01-10

Inspecting Data head() tail() info() describe()

In [6]:
df.head()

   CustomerID  TransactionID Product  Quantity  Price        Date
0           1            101   Apple         2   0.50  2022-01-01
1           2            102  Orange         1   0.75  2022-01-02
2           3            103  Banana         3   0.40  2022-01-03
3           4            104   Apple         2   0.50  2022-01-04
4           5            105   Grape         1   1.20  2022-01-05

In [7]:
df.tail()

   CustomerID  TransactionID Product  Quantity  Price        Date
5           6            106   Apple         4   0.50  2022-01-06
6           7            107  Orange         2   0.75  2022-01-07
7           8            108  Banana         3   0.40  2022-01-08
8           9            109   Grape         2   1.20  2022-01-09
9          10            110   Apple         1   0.50  2022-01-10

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     10 non-null     int64
 1   TransactionID  10 non-null     int64
 2   Product        10 non-null     object
 3   Quantity       10 non-null     int64
 4   Price          10 non-null     float64
 5   Date           10 non-null     object
dtypes: float64(1), int64(3), object(2)
memory usage: 608.0+ bytes

In [ ]:
#object = str
#datetime

In [11]:
df.isnull().sum()

CustomerID       0
TransactionID    0
Product          0
Quantity         0
Price            0
Date             0
dtype: int64

In [13]:
df_cleaned = df.dropna()